<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coco☕️Royale</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/css/custom.css">



<body>
  
  <nav>
    <div class="nav-wrapper brown">
      <a href="#!" class="brand-logo center"><img src="/images/logo3.png" class="responsive-img" alt="Coffee Shop Logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="waiters.html"><i class="tiny material-icons left">lock_open</i>Sign-in</a></li>
        <li><a href="waiter-shifts"><i class="tiny material-icons left">help_outline</i>Help</a></li>

      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a href="waiter-shifts">Sign-in</a></li>
        <li><a href="waiters.html">Help</a></li>X-UA-Compatible
  </ul>
          
        




  {{{body}}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
</body>

</html>