<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coco☕️Royale</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/css/custom.css">

  {{!--
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="/css/waiter-login.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> --}}

</head>
{{!-- <header>Coco <i class="fa fa-coffee"></i> Royale --}}
  {{!-- <nav> --}}
    {{!-- <a href="/days"><i class="far fa-calendar-alt"></i></a> --}}
    {{!-- <a href="/waiter-login"><i class='fa fa-user fa-1x'></i></a> --}}
    {{!-- <a href="/"><i class='fa fa-home fa-1x'></i></a> --}}
    {{!-- <a href="/add-waiter"><i class='fas fa-user-plus fa-1x'></i></a> --}}


    {{!-- </nav> --}}
  {{!-- </header> --}}

<body>

  <nav>
    <div class="nav-wrapper brown">
      <a href="#!" class="brand-logo center"><img src="/images/logo3.png" class="responsive-img"
          alt="Coffee Shop Logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="waiter-shifts"><i class="tiny material-icons left">schedule</i>Schedule</a></li>
        <li><a href="waiter-shifts"><i class="tiny material-icons left">show_chart</i>Stats</a></li>
        <li><a href="waiters.html"><i class="tiny material-icons left">people</i>Waiters</a></li>
        <li><a href="waiters.html"><i class="tiny material-icons left">exit_to_app</i>Sign-out</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="waiter-shifts">Sass</a></li>
    <li><a href="waiters.html">Components</a></li>X-UA-Compatible
  </ul>






  {{{body}}}
  {{!--
  <script src="/javascript/shift.js"></script> --}}
  <!--JavaScript at end of body for optimized loading-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>