

  <div class="weekSchedule">

<table>

<tr>
{{#each allShifts}}
<th class='{{status}}'><h1>{{day}}</h1></th>
{{/each}}
      </tr>


      <tr>
              {{#each allShifts}}
     <td>
       {{!-- <ul> --}}
                {{#each waiters}}  
       <strong><ul>{{this}}</ul></strong>
             {{/each}}   
       {{!-- </ul> --}}
       </td>
{{/each}}

      </tr>
  
       

</table>


  </div>

<form action="/reset-shifts" method='POST'>
        <div class='reset'>
        <button>Clear Week Shifts</button>
        </div>
</form>
