<div class="left">
  <div class="waiters">
    <table border:2>
      <tr>
        <th><h1>Waiters</h1></th>
      </tr>
      <tr>
        <td><button>All Waiters</button></td>
      </tr>
      <tr>
        <td><button>Waiter 1</button></td>
      </tr>
       <tr>
        <td><button>Waiter 2</button></td>
      </tr>
       <tr>
        <td><button>Waiter 3</button></td>
      </tr>
       <tr>
        <td><button>Waiter 4</button></td>
      </tr>
    </table>
<span class="reset"><a href="#"><button>Reset</button></a></span>
  </div>
  
</div>
<div class="right">
  <div class="weekSchedule">
    <table>
      <tr>
        <th class='good'><h1>Monday</h1></th>
        <th class='good'><h1>Tuesday</h1></th>
        <th class='bad'><h1>Wednesday</h1></th>
        <th class='good'><h1>Thursday</h1></th>
        <th class='good'><h1>Friday</h1></th>
        <th class='good'><h1>Saturday</h1></th>
        <th class='good'><h1>Sunday</h1></th>
      </tr>
      {{!-- {{#each}} --}}
      <tr>
        <td><strong>Waiter 1</strong></td>
        <td><strong>Waiter 1</strong></td>
        <td>N/A</td>
        <td><strong>Waiter 1</strong></td>
        <td><strong>Waiter 1</strong></td>
        <td>N/A</td>
        <td><strong>Waiter 1</strong></td>
      </tr>
       <tr>
        <td>N/A</td>
        <td><strong>Waiter 2</strong></td>
        <td><strong>Waiter 2</strong></td>
        <td><strong>Waiter 2</strong></td>
        <td><strong>Waiter 2</strong></td>
        <td><strong>Waiter 2</strong></td>
        <td>N/A</td>
      </tr>
       <tr>
        <td><strong>Waiter 3</strong></td>
        <td><strong>Waiter 3</strong></td>
        <td>N/A</td>
        <td>N/A</td>
        <td><strong>Waiter 3</strong></td>
        <td><strong>Waiter 3</strong></td>
        <td><strong>Waiter 3</strong></td>
      </tr>
       <tr>
        <td><strong>Waiter 4</strong></td>
        <td><strong>Waiter 4</strong></td>
        <td>N/A</td>
        <td><strong>Waiter 4</strong></td>
        <td><strong>Waiter 4</strong></td>
        <td><strong>Waiter 4</strong></td>
        <td><strong>Waiter 4</strong></td>
      </tr>
    </table>
  </div>
</div>