
  <div class='to-days'>
     <div class='box'>
        <a href="days"><i class="far fa-calendar-alt fa-5x"></i></a>
           <h1>Week Shifts</h1>
    </div>
</div>

  <div class='to-waiters'>
     <div class='box'>
        <a href="days"><i class="fas fa-user fa-5x"></i></a>
           <h1>Waiter Login</h1>
    </div>

</div>