
 <a href="days"> <div class='to-days'>
     <div class='box'>
        <i class="far fa-calendar-alt fa-5x"></i>
           <h1>Week Shifts</h1>
    </div>
</div></a>

 <a href="waiter-login"> <div class='to-waiters'>
     <div class='box'>
       <i class="fas fa-user fa-5x"></i>
           <h1>Waiter Login</h1>
    </div>

</div></a>