<div class='sub-form'>
<form action="/shifts-update" method="POST" class='subForm' id="formid">
  
  <input type="radio" name='mon'value=0 id='shift'>
    <input type="radio" name='tues'value=0 id='shift'>
    <input type="radio" name='wed'value=0 id='shift'>
    <input type="radio" name='thur'value=0 id='shift'>
    <input type="radio" name='fri'value=0 id='shift'>
    <input type="radio" name='sat'value=0 id='shift'>
    <input type="radio" name='sun'value=0 id='shift'>
    <input type="text" name = 'waiter' value='{{waiter}}'>
    <input type="submit" name='submit' >

</form>
</div>

<div class='card'>
<div class='shift'>
<h2>Welcome {{waiter}}! Please select which days you're available for the week.</h2>

  <label for="mon"><button class='button' >Monday</button></label>

  <label for="tue"><button class='button' >Tuesday</button></label>

  <label for="wed"><button class='button' >Wednesday</button></label>

  <label for="thur"><button class='button' >Thursday</button></label>

  <label for="fri"><button class='button' >Friday</button></label>

  <label for="sat"><button class='button' >Saturday</button></label>

  <label for="sun"><button class='button' >Sunday</button></label>

  <label for='submit' class='submit'><button class='submitBut' form="formid">Submit</button></label>
</div>
</div>