
<form action="/waiter-logged" method="POST" class='form'>
  
  <input type="radio" name='mon'value=0 id='shift'>
    <input type="radio" name='tues'value=0 id='shift'>
    <input type="radio" name='wed'value=0 id='shift'>
    <input type="radio" name='thur'value=0 id='shift'>
    <input type="radio" name='fri'value=0 id='shift'>
    <input type="radio" name='sat'value=0 id='shift'>
    <input type="radio" name='sun'value=0 id='shift'>
    <input type="submit">
</form>

<h1>{{waiter}}</h1>

  <label for="mon"><button class='button' >Monday</button></label>

  <label for="tue"><button class='button' >Tuesday</button></label>

  <label for="wed"><button class='button' >Wednesday</button></label>

  <label for="thur"><button class='button' >Thursday</button></label>

  <label for="fri"><button class='button' >Friday</button></label>

  <label for="sat"><button class='button' >Saturday</button></label>

  <label for="sun"><button class='button' >Sunday</button></label>

