<div class='addcard'>
    <div class='login-screen'>
  <div class='sign-waiteradd'><i class="fas fa-user-plus fa-5x"></i></div> 

  <form action="/add-waiter" method='POST'>
    <label for="waiter">New Waiter:</label>
    <input name='waiter'type="text">
    
    <input type="submit" value='+Add'>
  </form>
    </div>
</div>

<div class='allwaiters'>
<h1>hello</h1>
</div>