<div class='card'>
    <div class='login-screen'>
  <div class='sign-coffee'><i class="fa fa-coffee fa-5x"></i></div> 

  <form action="" method='POST'>
    <label for="name">Name:</label>
    <input name='name'type="text">
    
    <label for="name">Password:</label>
    <input name='name'type="text">
    
    <input type="submit" value='Login'>
  </form>
    </div>
</div>