<form action="">
  <label for="mon">Monday</label>
  <input name='mon' value='monday'type='checkbox'>
  
    <label for="tue">Tuesday</label>
  <input name='tue' value='tuesday'type='checkbox'>
  
    <label for="wed">Wednesday</label>
  <input name='wed' value='wednesday'type='checkbox'>
  
    <label for="thurs">Thursday</label>
  <input name='thurs' value='thursday'type='checkbox'>
  
    <label for="fri">Friday</label>
  <input name='fri' value='friday'type='checkbox'>
  
    <label for="sat">Saturday</label>
  <input name='sat' value='saturday'type='checkbox'>
  
    <label for="sun">Sunday</label>
  <input name='sun' value='sunday'type='checkbox'>
  
  <input type="submit" value='submit'>
</form>