
    
    .waiters{
      padding-top:10px;
      width:100%;
      text-align:center;
    }
    .waiters table{
      width:100%;
      border:solid;
      text-align:center;
    }
    
    .waiters th{
      border-bottom:solid;
      background:silver;
    }
    
    .waiters td{
      height:60px;
    }
    .waiters td button{
      width:100%;
      height:100%;
      font-size:40px;
    }
    
    .waiters td button:hover{
    background-color:grey;
      color:white;
    }
    
    .reset button{
      background-color:red;
      border: black 1px solid;
      width:50%;
      height:100%;
      font-size:40px;
      margin-top:20px;
      border-radius:50px;
      padding-top:6px;
      color:white;
      
    }
    
    .weekSchedule{
margin:auto;
      padding-top:10px;
      width:90vw;
      text-align:center;
    }
    
    .weekSchedule table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    .weekSchedule table{
      width:100%;
      border:solid;
      text-align:center;
      table-layout: fixed;
      white-space: nowrap;
    }
    
    .weekSchedule th{
      border-bottom:solid;
      /* width:14.28%; */
    }
    
    .weekSchedule td {
      height:60px;
      font-size:20px;
      background-color:#d8dede;
    }
    
    .weekSchedule th, td {
margin: auto;
width:11.5vw;
  }

  .weekSchedule td ul {
  text-align: center;
  margin-left:-3vw;
  }
   
   