.card{
    position:relative;
    width:30%;
    margin-top:20px; 
    left:32%;
    border:solid;
    text-align:center;
    box-shadow:  10px 10px 10px black;
    background-color:darkgreen;
    z-index: 2;
  }
  
  .login-screen{
  margin:30px 0 30px 0;  
  background-color:#5e2805;
    padding:10px;
  }
  
  input[type='text']{
    text-align:center;
    display:block;
    font-size:35px;
    width:50%;
    margin:0 auto; 
  }
  
  input[type='submit']{
    display:block;
    color:black;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    width:30%;
    height:30px;
    font-size:20px;

    background:#996a49;
    border:none;
    box-shadow:  5px 5px 10px black;
    transition:0.2s linear;
  }
  
  input[type='submit']:hover {
  color:black;
  box-shadow:  10px 10px 20px black;
    transition:0.2s linear;
    background:#996a70;
  }
  
  label{
    font-size:35px;
  }
  
  .sign-coffee i.fa-coffee{
    padding:40px;
    border-radius:50%;
    background:#996a49;
    color:white;
    margin-bottom:30px;
  }